:root {
  --gray: #414141;
  --principal-0: #e7ecfe;
  --principal-100: #b6c6fc;
  --principal-200: #85a0fa;
  --principal-300: #547af8;
  --principal: #2354f6;
  --principal-400: #093adc;
  --principal-500: #072dab;
  --principal-600: #05207a;
  --principal-700: #031349;
  --principal-800: #010618;
}

@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@500&display=swap');

* {
  scroll-behavior: smooth;
  font-family: 'Open Sans', sans-serif;
}

.nav {
  display: flex;
  position: sticky;
  top: 0;
  overflow: hidden;
  justify-content: space-between;
  align-items: center;
  max-width: 100%;
  background-color: var(--principal-800);
  backdrop-filter: blur(5px);
  padding: 0 1rem;
  z-index: 1000;
}

.container {
  padding-right: 1rem;
}

.nav-item {
  color: var(--principal-0);
  padding: 0 .3rem;
  text-decoration: none;
  transition: .3s;
  margin: 0 6px;
  z-index: 1;
  font-size: 1.3em;
  font-weight: 400;
  position: relative;
}

.nav-item:before{
  content: "";
  position: absolute;
  bottom: -6px;
  left: 0;
  width: 100%;
  height: 5px;
  background-color: var(--principal);
  border-radius: 8px 8px 0 0;
  opacity: 0;
  transition: .3s;
}

.nav-item:not(.is-active):hover:before{
  opacity: 1;
  bottom: -6px;
}

.nav-item:not(.is-active):hover{ color:#8d8d8d; }

.nav-indicator{
  position: absolute;
  left:0;
  bottom: 0;
  height: 4px;
  transition: .4s;
  height: 5px;
  z-index: 1;
  border-radius: 8px 8px 0 0;
}

@media (max-width: 580px) {
  .nav { overflow: auto; }
}

.nav__name {
  color: var(--principal-0);
  font-size: 2em;
  padding-left: 1rem;
}

.color {
  color: var(--principal);
}

#home {
  background-image: url(https://1.bp.blogspot.com/-MGS7Y82aSog/YB5oegC37_I/AAAAAAAAADI/wTiHDISzDYokAClfkIJIaVMYgVg3Xqc3ACLcBGAsYHQ/s1280/n.jpg);
  height: 100vh;
  backdrop-filter: blur(4px);
  display: block;
  background-attachment: fixed;
}

.main {
  background-color: rgba(0, 0, 0, .6);
  min-height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.home__div{
  text-align: center;
  padding-left: 3rem;
}

.home__div h1 {
  font-size: 3em;
  color: var(--principal);
}

.home__div span {
  font-size: 2em;
  color: var(--principal-0);
}

.img {
  width: 15em;
  border-radius: 50%;
}

#about {
  display: flex;
  justify-content: space-between;
}

.about__me {
  color: var(--gray);
  padding: 4rem 2rem 0 2rem;
  line-height: 40px;
}

.about__me h2 {
  font-size: 2.4rem;
}

.about__me p {
  font-size: 1.3em;
  margin-block-start: 1em;
}

.skill__title {
  color: var(--gray);
  margin: 20px 0;
  font-size: 2.4em;
  padding-top: .4em;
}

.skill__grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 10px;
  margin: 4em 4em 0 2em;
}

.skill__item {
  color: var(--gray);
  padding-right: 1em;
}

.fa-html5 {
  color: #f1662a;
}

.fa-css3 {
color: #1c88c7;
}

.fa-js-square {
color: #f4de18;
}

.fa-python {
color: #356f9e;
}

.skill__item h2 {
  font-size: 1.5em;
  text-align: center;
}

.btn {
  width: 10rem;
  height: 3rem;
  margin: -8rem 0 0 2.5rem;

  border-radius: .5rem;
  cursor: pointer;

  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--principal);
  transition: .5s;
}

.btn:hover {
  background-color: var(--principal-400);
  transition: .5s;
}

.link {
  font-weight: 600;
}

.btn a {
  color: var(--principal-800);
  text-decoration: none;
  transition: .5s;
}

.btn a:hover {
  color: var(--principal-0);
  transition: .5s;
}

.btn::after {
  content: "";
  display: block;

  width: 0;
  height: 24px;
  background-image: url(/assets/arrow-right-solid.svg);
  
  transition: height 200ms, margin-left 600ms;
}

.btn:is(:hover,:focus)::after {
  width: 1.3rem;
  margin-left: 8px;
}

#portfolio {
  color: var(--gray);
  height: 100vh;
}

.portfolio-info {
  padding: 8rem 0 0 3rem;
}

.portfolio-info h2 {
  font-size: 2.4rem;
  padding-bottom: 2rem;
}

.portfolio-info p {
  font-size: 1.3rem;
}

.projects-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 10px;
  margin: 5rem 0 0 5.5rem;
}

#img_1 {
  background: url(/assets/link_tree.jpeg)
  center no-repeat;
  background-size: cover;
}

#img_2 {
  background: url(/assets/mc.jpeg)
  center no-repeat;
  background-size: cover;
}

#img_3 {
  background: url(/assets/portfolio.jpeg)
  center no-repeat;
  background-size: cover;
}

.card-items {
  position: absolute;
  width: 20.625rem;
  height: 15.625rem;
  color: var(--principal-0);
  border-radius: 20px;
  overflow: hidden;
}

.card__content {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  padding: 2rem;
  background-color: var(--principal);
  border-top-left-radius: 20px;
  transform: translateY(40px);
  transition: transform .25s;
}

.card__content::before {
  content: "";
  position: absolute;
  top: -47px;
  right: -45px;
  width: 100px;
  height: 100px;
  transform: rotate(-175deg);
  border-radius: 50%;
  box-shadow: inset 48px 48px var(--principal);
}

.card__title {
  color: var(--principal-0);
  line-height: 15px;
  font-size: 1.4rem;
}

.card_subtitle {
  display: block;
  padding-top: 1rem;
  margin-bottom: 1rem;
}

.card_description {
  font-size: 14px;
  display: none;
  transition: opacity .5s;
  color: var(--principal-0);
  padding-bottom: 1rem;
}

.card_link {
  font-size: 14px;
  display: none;
  transition: opacity .5s;
  color: var(--principal-0);
  text-decoration: none;
  padding-left: 1rem;
  font-weight: 600;
}

.card-items:hover .card__content {
  transform: translateY(0);
}

.card-items:hover .card_description {
  display: inline-block;
  transition: 1s;
}

.card-items:hover .card_link {
  display: inline-block;
  transition: 1s;
}

#contact {
  color: var(--principal-0);
  background-color: var(--principal-800);
}

.contact__div-head {
  padding: 3rem 0 0 3rem;
}

.contact__div-head h3 {
  font-size: 2.4rem;
  padding-bottom: 2rem;
}

.contact__div-head p {
  font-size: 1.3rem;
}

.contact__div-content {
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 3rem 3rem 4rem 3rem;
}

.contact__a {
  flex-direction: column;
  text-decoration: none;
  display: flex;
  color: var(--principal-0);
}

.contact__a:hover {
  color: var(--gray);
}

.contact__a i {
  align-self: center;
}

.contact__a p {
  font-size: 1.3rem;
  padding-top: .5rem;
}

.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--principal-800);
  padding-bottom: 2px;
}

.footer p {
  color: var(--principal-0);
  font-size: 1.2rem;
}

@media only screen and (max-width: 768px) {
  .nav {
    display: none;
  }
  .main {
    flex-direction: column;
    flex-wrap: wrap;
  }
}